<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>城市綠洲_layout</title>
<style type="text/css">
body {
	margin: 0px;
}
</style>
</head>

<body>
<img src="00.jpg" border="0" usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="1128,200,1224,233" href="http://ona-design.url.tw/m/D/news.html" />
  <area shape="rect" coords="1129,328,1225,360" href="http://ona-design.url.tw/m/D/activity.html" />
  <area shape="rect" coords="1491,329,1574,358" href="http://ona-design.url.tw/m/D/annal.html" />
  <area shape="rect" coords="1490,297,1577,323" href="http://ona-design.url.tw/m/D/watchlist.html" />
  <area shape="rect" coords="1491,264,1573,293" href="http://ona-design.url.tw/m/D/point.html" />
  <area shape="rect" coords="1492,232,1574,261" href="http://ona-design.url.tw/m/D/edit.html" />
  <area shape="rect" coords="1491,206,1574,228" href="http://ona-design.url.tw/m/D/order.html" />
  <area shape="rect" coords="1364,87,1465,182" href="http://ona-design.url.tw/m/D/branch.html" />
  <area shape="rect" coords="1597,81,1711,187" href="product_detail_cart.html" />
  <area shape="rect" coords="1135,297,1223,325" href="http://ona-design.url.tw/m/D/knowledge.html" />
  <area shape="rect" coords="550,1549,827,1824" href="http://ona-design.url.tw/m/D/product_detail.html" />
  <area shape="rect" coords="413,1485,503,1519" href="http://ona-design.url.tw/m/D/discount_list.html" />
  <area shape="rect" coords="385,2156,452,2195" href="http://ona-design.url.tw/m/D/brand_category.html" />
  <area shape="rect" coords="1615,1249,1689,1291" href="http://ona-design.url.tw/m/D/news.html" />
  <area shape="rect" coords="1586,9,1642,43" href="http://ona-design.url.tw/m/D/login.html" />
  <area shape="rect" coords="1656,10,1711,44" href="http://ona-design.url.tw/m/D/register.html" />
  <area shape="rect" coords="200,935,503,972" href="http://ona-design.url.tw/m/D/product.html" />
  <area shape="rect" coords="436,1781,501,1821" href="http://ona-design.url.tw/m/D/discount.html" />
  <area shape="rect" coords="541,944,912,1273" href="http://ona-design.url.tw/m/D/news_detail.html" />
</map>
</body>
</html>
