<style type="text/css">@Charset "UTF-8";
.b_10 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.b_11 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.b_12 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.b_13 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.b_14 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.b_15 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.b_16 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.b_18 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.b_20 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.b_22 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 24px;}
.b_24 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 24px;}
.b_26 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 26px;}
.b_28 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 28px;}
.b_30 { color: #000000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 30px;}
.b_10_323232 { color: #323232; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.b_11_323232 { color: #323232; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.b_12_323232 { color: #323232; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.b_13_323232 { color: #323232; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.b_14_323232 { color: #323232; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.b_15_323232 { color: #323232; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.b_16_323232 { color: #323232; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.b_18_323232 { color: #323232; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.b_20_323232 { color: #323232; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.blue_10 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.blue_11 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.blue_12 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.blue_13 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.blue_14 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.blue_15 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.blue_16 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.blue_17 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 17px;}
.blue_18 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.blue_20 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.blue_22 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 22px;}
.blue_24 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 24px;}
.blue_11_1d74a2 { color: #1d74a2; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.blue_12_1d74a2 { color: #1d74a2; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.blue_13_1d74a2 { color: #1d74a2; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.blue_14_1d74a2 { color: #1d74a2; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.blue_15_1d74a2 { color: #1d74a2; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.blue_16_1d74a2 { color: #1d74a2; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.blue_17_1d74a2 { color: #1d74a2; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 17px;}
.blue_18_1d74a2 { color: #1d74a2; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.blue_11_1d7ad9 { color: #1d7ad9; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.blue_12_1d7ad9 { color: #1d7ad9; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.blue_13_1d7ad9 { color: #1d7ad9; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.blue_14_1d7ad9 { color: #1d7ad9; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.blue_15_1d7ad9 { color: #1d7ad9; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.blue_16_1d7ad9 { color: #1d7ad9; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.blue_17_1d7ad9 { color: #1d7ad9; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 17px;}
.blue_18_1d7ad9 { color: #1d7ad9; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.blue_FB_10 { color: #3b5998; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.blue_FB_11 { color: #3b5998; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.blue_FB_12 { color: #3b5998; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.blue_FB_13 { color: #3b5998; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.blue_FB_14 { color: #3b5998; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.blue_FB_15 { color: #3b5998; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.blue_FB_17 { color: #3b5998; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 17px;}
.blue_FB_18 { color: #3b5998; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.blue_FB_20 { color: #3b5998; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.blue_FB_22 { color: #3b5998; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 22px;}
.blue_FB_24 { color: #3b5998; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 24px;}
.brown_11 { color: #30271E; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.brown_12 { color: #30271E; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.brown_13 { color: #30271E; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.chinese_14 { color: #ffffff; font-family: "新細明體"; font-size: 14px;}
.dark_blue_10 { color: #0000FF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.dark_blue_11 { color: #110C6C; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.dark_blue_12 { color: #110C6C; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.dark_blue_13 { color: #110C6C; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.dark_blue_16 { color: #110C6C; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.dark_blue_18 { color: #110C6C; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.dark_blue_20 { color: #110C6C; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.dark_blue_22 { color: #110C6C; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 22px;}
.dark_blue_24 { color: #110C6C; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 24px;}
.dark_purple_14 { color: #37438f; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.dark_purple_15 { color: #37438f; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.dark_purple_16 { color: #37438f; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.gray_10 { color: #585858; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.gray_11 { color: #585858; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.gray_12 { color: #585858; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.gray_13 { color: #585858; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.gray_14 { color: #585858; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.gray_15 { color: #585858; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.gray_16 { color: #585858; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.gray_18 { color: #585858; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.gray_20 { color: #585858; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.gray_10_7e7e7e { color: #7e7e7e; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.gray_11_7e7e7e { color: #7e7e7e; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.gray_12_7e7e7e { color: #7e7e7e; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.gray_13_7e7e7e { color: #7e7e7e; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.gray_14_7e7e7e { color: #7e7e7e; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.gray_16_7e7e7e { color: #7e7e7e; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.gray_18_7e7e7e { color: #7e7e7e; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.gray_20_7e7e7e { color: #7e7e7e; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.green_11 { color: #0A8A00; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.green_12 { color: #0A8A00; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.green_13 { color: #0A8A00; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.green_14 { color: #0A8A00; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.green_15 { color: #0A8A00; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.green_16 { color: #0A8A00; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.green_17 { color: #0A8A00; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 17px;}
.green_18 { color: #0A8A00; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.green_20 { color: #0A8A00; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.light_gray_10 { color: #b5b5b5; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.light_gray_11 { color: #b5b5b5; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.light_gray_12 { color: #b5b5b5; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.light_gray_13 { color: #b5b5b5; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.light_gray_14 { color: #b5b5b5; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.news_title_17 { color: #1b77a0; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 17px;}
.orange_10 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.orange_11 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.orange_12 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.orange_13 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.orange_14 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.orange_15 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.orange_16 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.orange_17 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 17px;}
.orange_18 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.orange_20 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.orange_22 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 22px;}
.orange_24 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 24px;}
.orange_28 { color: #FA8000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 28px;}
.orange_10_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.orange_11_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.orange_12_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.orange_13_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.orange_14_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.orange_15_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.orange_16_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.orange_17_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 17px;}
.orange_18_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.orange_20_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.orange_22_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 22px;}
.orange_24_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 24px;}
.orange_28_de5106 { color: #de5106; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 28px;}
.pink_10 { color: #e02773; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.pink_12 { color: #e02773; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.pink_13 { color: #e02773; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.pink_14 { color: #e02773; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.pink_16 { color: #e02773; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.pink_18 { color: #e02773; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.pink_20 { color: #e02773; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.red_10 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.red_11 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.red_12 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.red_13 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.red_14 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.red_15 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.red_16 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.red_18 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.red_20 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.red_22 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 22px;}
.red_24 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 24px;}
.red_28 { color: #FF0000; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 28px;}
.w_10 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.w_11 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.w_12 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.w_13 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.w_14 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.w_15 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 15px;}
.w_16 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.w_18 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.w_20 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.w_22 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.w_22 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 22px;}
.w_24 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 24px;}
.w_30 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 30px;}
.w_50 { color: #FFFFFF; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 50px;}
.w_12_red { color: #FFDADC; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.w_14_red { color: #FFDADC; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.yellow_10 { color: #EB7600; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 10px;}
.yellow_11 { color: #EB7600; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 11px;}
.yellow_12 { color: #EB7600; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 12px;}
.yellow_13 { color: #EB7600; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 13px;}
.yellow_14 { color: #EB7600; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 14px;}
.yellow_16 { color: #EB7600; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 16px;}
.yellow_18 { color: #EB7600; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 18px;}
.yellow_20 { color: #EB7600; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 20px;}
.yellow_22 { color: #EB7600; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 22px;}
.yellow_24 { color: #EB7600; font-family:"微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B"; font-size: 24px;}
</style>